In [1]:
#import dependencies
import pandas as pd
import numpy as np

#import os
import os

In [2]:
# direct file path
raw_data_path = '../input/sample_sales_records.xls'
# import file
raw_data = pd.read_excel(raw_data_path)
# raw_data

In [3]:
# create dataframe
df = pd.DataFrame(raw_data)
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,2010-05-28,669165933,2010-06-27,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,2012-08-22,963881480,2012-09-15,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,2014-05-02,341417157,2014-05-08,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,2014-06-20,514321792,2014-07-05,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2013-02-01,115456712,2013-02-06,5062,651.21,524.96,3296425.02,2657347.52,639077.50

### Check Types and Convert to Best Possible Type

In [11]:
df.dtypes

Region                    string
Country                   string
Item Type                 string
Sales Channel             string
Order Priority            string
Order Date        datetime64[ns]
Order ID                   Int64
Ship Date         datetime64[ns]
Units Sold                 Int64
Unit Price               Float64
Unit Cost                Float64
Total Revenue            Float64
Total Cost               Float64
Total Profit             Float64
dtype: object

In [5]:
# Types need to be defined in Tableau to work properly
# DataFrame.convert_dtypes(infer_objects=True, convert_string=True, convert_integer=True, convert_boolean=True, convert_floating=True) 
# infer_objects = Whether object dtypes should be converted to the best possible types.
df = df.convert_dtypes(infer_objects=True)

### Examine of Types, Null Values, Duplicates, and Unique Values

In [12]:
# examine data - columns, null_values, types
df.info()

# types converted to string to make Tableau easier to upload
# no null values to deal with

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          100 non-null    string
 1   Country         100 non-null    string
 2   Item Type       100 non-null    string
 3   Sales Channel   100 non-null    string
 4   Order Priority  100 non-null    string
 5   Order Date      100 non-null    datetime64[ns]
 6   Order ID        100 non-null    Int64
 7   Ship Date       100 non-null    datetime64[ns]
 8   Units Sold      100 non-null    Int64
 9   Unit Price      100 non-null    Float64
 10  Unit Cost       100 non-null    Float64
 11  Total Revenue   100 non-null    Float64
 12  Total Cost      100 non-null    Float64
 13  Total Profit    100 non-null    Float64
dtypes: Float64(5), Int64(2), datetime64[ns](2), string(5)
memory usage: 11.7 KB

In [16]:
# DataFrame.duplicated(subset=None, keep='first')
# Return boolean Series denoting duplicate rows.
df.duplicated().value_counts()

# no duplicate values to deal with

False    100
dtype: int64

In [17]:
df.nunique()

Region              7
Country            76
Item Type          12
Sales Channel       2
Order Priority      4
Order Date        100
Order ID          100
Ship Date          99
Units Sold         99
Unit Price         12
Unit Cost          12
Total Revenue     100
Total Cost        100
Total Profit      100
dtype: int64

In [19]:
df.Region.value_counts()

Sub-Saharan Africa                   36
Europe                               22
Australia and Oceania                11
Asia                                 11
Middle East and North Africa         10
Central America and the Caribbean     7
North America                         3
Name: Region, dtype: Int64

In [20]:
df.Country.value_counts()

The Gambia                          4
Australia                           3
Sierra Leone                        3
Djibouti                            3
Sao Tome and Principe               3
                                   ..
Kyrgyzstan                          1
Zambia                              1
Grenada                             1
Democratic Republic of the Congo    1
Syria                               1
Name: Country, Length: 76, dtype: Int64

In [22]:
df["Unit Price"].value_counts()

437.20    13
109.28    13
651.21    12
9.33      10
81.73     10
668.27     9
47.45      8
205.70     7
255.28     7
154.06     6
152.58     3
421.89     2
Name: Unit Price, dtype: Int64

In [25]:
# export cleaned_data
df.to_csv("../result/clean_data.csv", header = True, index = False)